*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 26, 26);
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.card{
    p, .text-vote{
        font-size: .875rem;
    }
    .img-cont{
        min-height: 18.75rem;
        position: relative;
        &:hover{
            overflow-y: auto;
        }
        &:hover .info {
            opacity: 1;
        }    
        &:hover img{
            opacity: 0.05;
        }
        img{
            width: 100%;
            border-radius: .625rem;
        }     
        .info{
            position: absolute;
            top:.3125rem;
            left: .3125rem;
            opacity: 0;
            h4, h5{
                margin-bottom: .3125rem;
            }
            p{
                margin-bottom: .3125rem;
            }
            .overview {
                font-size: .625rem;
            }
            .fa-star {
                color: yellow;
                font-size: 0.625rem
             }
        }
    }
}