*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul{
    list-style: none;
    line-height: 1.5;
}

.card{
    h4, img, h5{
        margin-bottom: .3125rem;
    }
    p{
        font-size: .875rem;
    }
    .img-cont{
        height: 18.75rem;
        img{
            width: 100%;
            border-radius: .625rem;
        }
    }
}