*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 26, 26);
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.card{
    position: relative;
    text-align: center;
    &:hover .info {
        display: block;
    }
    p{
        font-size: .875rem;
    }
    .img-cont{
        min-height: 18.75rem;
        &:hover{
            opacity: .3;
        }
        img{
            object-fit: cover;
            width: 100%;
            border-radius: .625rem;
        }     
    }
    .info{
        position: absolute;
        top:.3125rem;
        left: .3125rem;
        display: none;
        &:hover .img-cont{
            opacity: .1;
        }
    }
    .fa-star {
        color: yellow;
        font-size: .625rem
     }
     .overview {
         font-size: .625rem
     }
  
}